.tweet-box-container {
  width: 400px;
  height: 200px;
  background-color: #0084B4;
}

.tool-bar {
  float: right;
}

textarea {
  display: none;
}

.tweet-content {
  background-color: #fff;
  margin: 5px;
  border-radius: 1px;
}

.title-container {
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tweet-box-container {
  border-radius: 6px;
}
